@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 85%;
    --foreground: 0 0% 0%;
    --background-solid: linear-gradient( #ffffff);
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 29 97% 54%;
    --primary-foreground: 0 0% 100%;
    --secondary: 38 100% 50%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 38 100% 50%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 38 100% 50%;
    --input: 29 97% 40%;
    --ring: 29 97% 54%;
    --chart-1: 29 97% 54%;
    --chart-2: 38 100% 50%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --box-shadow: 6px -6px 19px #cccccc,  -6px 6px 19px #a6a6a6;
    
    /* Sidebar */
    --sidebar-background: linear-gradient(45deg, #e6e6e6, #ffffff);
    --sidebar-foreground: 0 0% 0%;
    --sidebar-primary: 29 97% 54%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 38 100% 50%;
    --sidebar-accent-foreground: 0 0% 0%;
    --sidebar-border: 38 100% 50%;
    --sidebar-ring: 38 100% 50%;
  }

  .dark {
    --background: 0 0% 15%;
    --foreground: 0 0% 100%;
    --background-solid: #1a1a1a;
    --card: 0 0% 14%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 14%;
    --popover-foreground: 0 0% 100%;
    --primary: 29 97% 54%;
    --primary-foreground: 0 0% 0%;
    --secondary: 38 100% 50%;
    --secondary-foreground: 0 0% 0%;
    --muted: 0 0% 14%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 38 100% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
    --border: 29 97% 54%;
    --input: 0 0% 14%;
    --ring: 38 100% 50%;
    --chart-1: 29 97% 54%;
    --chart-2: 38 100% 50%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --box-shadow: 6px -6px 19px #161616,  -6px 6px 19px #1e1e1e;
    
    /* Sidebar */
    --sidebar-background: #1a1a1a;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 29 97% 54%;
    --sidebar-primary-foreground: 0 0% 0%;
    --sidebar-accent: 38 100% 50%;
    --sidebar-accent-foreground: 0 0% 0%;
    --sidebar-border: 29 97% 54%;
    --sidebar-ring: 38 100% 50%;
  }
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
